/******************************************************************************
  Style Reset, Themes, Variables, and Font Styles.
/*****************************************************************************/
body, p, a, ul, li {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
*, *::before, *::after {
  box-sizing: border-box;
}
body {
  max-width: 1200px;
  margin: 0px auto;
  padding: 0rem 1rem;
  background-color: var(--background-primary);
  color: var(--text-primary);
}

/**********************************************************
  Themes & Variables
/*********************************************************/
:root {
  /* Light Theme */
  --background-primary-light: #fff;
  --background-secondary-light: #fff;
  --icon-color-primary-light: #212121;
  --image-background-light: #fff;
  --text-primary-light: #212121;
  --text-secondary-light: #717171;
  --text-active-light: #3f3f3f;
  --accent-color-primary-light: #e6e9ed;

  /* Dark Theme */
  --background-primary-dark: #191b22;
  --background-secondary-dark: #282c37;
  --icon-color-primary-dark: #fbfbfb;
  --image-background-dark: #fff;
  --text-primary-dark: #fbfbfb;
  --text-secondary-dark: #c8c8c8;
  --text-active-dark: #e3e3e3;
  --accent-color-primary-dark: #00b3f4;

  /* Blue Theme */
  --background-primary-blue: #18202f;
  --background-secondary-blue: #283245;
  --icon-color-primary-blue: #fbfbfb;
  --image-background-blue: #fff;
  --text-primary-blue: #fbfbfb;
  --text-secondary-blue: #c8c8c8;
  --text-active-blue: #e3e3e3;
  --accent-color-primary-blue: #00b3f4;

  /* Theme Variables - Default to Light Theme */
  --background-primary: var(--background-primary-light);
  --background-secondary: var(--background-secondary-light);
  --icon-color-primary: var(--icon-color-primary-light);
  --image-background: var(--image-background-light);
  --text-primary: var(--text-primary-light);
  --text-secondary: var(--text-secondary-light);
  --text-active: var(--text-active-light);
  --accent-color-primary: var(--accent-color-primary-light);
  color-scheme: light;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-primary: var(--background-primary-dark);
    --background-secondary: var(--background-secondary-dark);
    --icon-color-primary: var(--icon-color-primary-dark);
    --image-background: var(--image-background-dark);
    --text-primary: var(--text-primary-dark);
    --text-secondary: var(--text-secondary-dark);
    --text-active: var(--text-active-dark);
    --accent-color-primary: var(--accent-color-primary-dark);
    color-scheme: dark;
  }
}

[data-theme="light"] {
  --background-primary: var(--background-primary-light);
  --background-secondary: var(--background-secondary-light);
  --icon-color-primary: var(--icon-color-primary-light);
  --image-background: var(--image-background-light);
  --text-primary: var(--text-primary-light);
  --text-secondary: var(--text-secondary-light);
  --text-active: var(--text-active-light);
  --accent-color-primary: var(--accent-color-primary-light);
  color-scheme: light;
}

[data-theme="dark"] {
  --background-primary: var(--background-primary-dark);
  --background-secondary: var(--background-secondary-dark);
  --icon-color-primary: var(--icon-color-primary-dark);
  --image-background: var(--image-background-dark);
  --text-primary: var(--text-primary-dark);
  --text-secondary: var(--text-secondary-dark);
  --text-active: var(--text-active-dark);
  --accent-color-primary: var(--accent-color-primary-dark);
  color-scheme: dark;
}

[data-theme="blue"] {
  --background-primary: var(--background-primary-blue);
  --background-secondary: var(--background-secondary-blue);
  --icon-color-primary: var(--icon-color-primary-blue);
  --image-background: var(--image-background-blue);
  --text-primary: var(--text-primary-blue);
  --text-secondary: var(--text-secondary-blue);
  --text-active: var(--text-active-blue);
  --accent-color-primary: var(--accent-color-primary-blue);
  color-scheme: dark;
}


/**********************************************************
  Font Styles
/*********************************************************/
html {
  line-height: 1.5;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  font-weight: normal;
  font-size: 15px;
}
.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
.underline {
  text-decoration: underline;
}

/******************************************************************************
  Animation
/*****************************************************************************/
* {
  /* Transition when switching between Light/Dark Themes. */
  transition: color 50ms ease, background-color 500ms linear;
}

section {
  animation: fadeIn 1200ms ease;
}

@keyframes fadeIn {
  0% { 
    opacity: 0;
    transform: translateY(10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/******************************************************************************
  Mobile Styles
/*****************************************************************************/
/**********************************************************
  Navbar
/*********************************************************/
.navbar {
  display: flex;
  flex-wrap: wrap;
  padding: 0.75rem
}
.navbar .nav-title {
  display: flex;
  justify-content: center;
  width: 100%;
}
.navbar .nav-icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: var(--icon-color-primary);
  padding: 0.5rem;
  width: 100%;
}
.navbar .nav-icons a {
  text-decoration: none;
  text-align: center;
  color: var(--icon-color-primary);
  display: flex;
}
.navbar .nav-icon {
  width: 1.6rem;
  height: 1.6rem;
  margin: 0rem 0.5rem;
}
.navbar .nav-icon:hover {
  cursor: pointer;
}
.navbar .nav-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  width: 100%
}
.navbar .nav-links a {
  text-decoration: none;
  text-align: center;
  color: var(--text-secondary);
  display: flex;
  padding: 0.5rem;
}
.navbar .nav-links a:hover {
  color: var(--text-active);
}

/**********************************************************
  Section Title
/*********************************************************/
.section-title {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1rem;
  border-bottom: 0.1rem solid var(--text-secondary);
}

/**********************************************************
  Card Containers
/*********************************************************/
.card-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4, minmax(1rem, auto));
  margin: 3rem 0rem;
  padding: 2.5rem 2rem;
  background-color: var(--background-secondary);
  box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.4);
  border-radius: 0.5rem;
}
.card-item {
  padding: 0.75rem;
}
.card-image {
  grid-column: 1 / 13;
  grid-row: 1 / 2;
  align-self: center;
  justify-self: center;
  background-color: var(--image-background);
  padding: 0.5rem;
}
.card-header {
  grid-column: 1 / 13;
  grid-row: 2 / 3;
  text-align: center;
  background-color: var(--background-secondary);
}
/* .card-title {
  padding-bottom: 0.5rem;
  border-bottom: solid 2px var(--accent-color-primary);
} */
.sub-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0.5rem;
}
.sub-header div {
  padding: 0.25rem;
}
.card-main {
  grid-column: 1 / 13;
  grid-row: 3 / 5;
  background-color: var(--background-secondary);
}
.card-main ul {
  padding-left: 1.25rem;
  list-style-position: inside;
  border-left: solid 2px var(--accent-color-primary);
}
.card-link {
  color: var(--text-primary);
  text-decoration: none;
}
.card-link:hover {
  color: var(--text-primary);
  text-decoration: underline;
}

/**********************************************************
  Images
/*********************************************************/
.responsive-image {
  max-width: 100%;
  height: auto;
}

/******************************************************************************
  Large Tablets, Laptops, and Desktop Styles
/*****************************************************************************/
@media screen and (min-width: 960px) {
  /**********************************************************
    Navbar
  /*********************************************************/
  .navbar .nav-title {
    width: 90%;
  }
  .navbar .nav-icons {
    width: 10%;
  }
  /**********************************************************
    Section Title
  /*********************************************************/
  .section-title {
    justify-content: flex-start;
  }

  /**********************************************************
    Card Containers
  /*********************************************************/
  .card-image {
    grid-column: 1 / 3;
    grid-row: 1 / 5;
  }
  .card-header {
    grid-column: 3 / 13;
    grid-row: 1 / 2;
  }
  .card-main {
    grid-column: 3 / 13;
    grid-row: 2 / 5;
  }
}
